.linkList {
	background-color: lightblue;
	border-color: beige;
	border-radius: 10%;
	position: absolute;
	width: 10%;
	height: 20%;
	margin-left: 2%;
}

.links {
	font-size: 16px;
	font-family: 'Kalam', cursive;
}

.mapPic {
	margin-left: 20%;
	margin-top: 10%;
	border-color: beige;
	border-width: 10px;
	border-style: solid;
	border-radius: 10%;
	position: absolute;
}

.text {
	font-size: 16px;
	font-family: 'Kalam', cursive;
	background-color: slategray;
	border-radius: 10%;
	border-width: 10px;
	border-style: solid;
	border-color: slategray;
	width: 40%;
	margin-left: 40%;
	margin-top: 10%;
	position: absolute;
}

.subtext {
	margin-top: 35%;
	margin-left: 20%;
	margin-right: 60%;
	background-color: slategray;
	font-size: 16px;
	font-family: 'Kalam', cursive;
	border-radius: 10%;
	border-width: 10px;
	border-style: solid;
	border-color: slategray;
	position: absolute;
	width: 15%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}