.linkList {
	background-color: lightblue;
	border-color: beige;
	border-radius: 10%;
	position: absolute;
	width: 10%;
	height: 20%;
	margin-left: 2%;
}

.links {
	font-size: 16px;
	font-family: 'Kalam', cursive;
}

.mapPic {
	margin-left: 20%;
	margin-top: 10%;
	border-color: beige;
	border-width: 10px;
	border-style: solid;
	border-radius: 10%;
	position: absolute;
}

.text {
	font-size: 16px;
	font-family: 'Kalam', cursive;
	background-color: slategray;
	border-radius: 10%;
	border-width: 10px;
	border-style: solid;
	border-color: slategray;
	width: 40%;
	margin-left: 40%;
	margin-top: 10%;
	position: absolute;
}

.subtext {
	margin-top: 35%;
	margin-left: 20%;
	margin-right: 60%;
	background-color: slategray;
	font-size: 16px;
	font-family: 'Kalam', cursive;
	border-radius: 10%;
	border-width: 10px;
	border-style: solid;
	border-color: slategray;
	position: absolute;
	width: 15%;
}